# Git
.git
.gitignore

# Jekyll
_site
.jekyll-cache
.jekyll-metadata
.sass-cache

# Node
node_modules
npm-debug.log
package-lock.json

# Ruby
vendor
.bundle
Gemfile.lock

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
*.swp
*.swo

# Docker
docker-compose.override.yml
