<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="hero is-fullheight has-background-white">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">Portfolio</h1>
                <div class="content">
                    <h2>진행 프로젝트 소개</h2>
                    <ul>
                        <li><strong>기업:</strong> 이래에이엠에스</li>
                        <li><strong>프로젝트:</strong> Dynamics 365 Guides를 이용한 홍보용 플랫폼</li>
                    </ul>
                    <a href="https://onedrive.live.com/?redeem=aHR0cHM6Ly8xZHJ2Lm1zL2YvYy83MzAwZDE1YjhlZGVmNzdmL0V1RzVSeG1oTml0THZZeVZISHduR3FFQnZGWGhkYWl4NkFzMlF2VThkTzI5c0E%5FZT12cjVybFQ&cid=7300D15B8EDEF77F&id=7300D15B8EDEF77F%21sf251bfe3f717465f93e5575ef9861047&parId=7300D15B8EDEF77F%21s1947b9e136a14b2bbd8c951c7c271aa1&o=OneUp" target="_blank" class="button is-primary">시연 영상 보기</a>
                    <hr>

                    <h2>자사 소개</h2>
                    <ul>
                        <li><strong>설명:</strong> Dynamics 365 Guides를 활용한 자사 소개 가이드</li>
                    </ul>
                    <a href="https://onedrive.live.com/?redeem=aHR0cHM6Ly8xZHJ2Lm1zL2YvYy83MzAwZDE1YjhlZGVmNzdmL0V1RzVSeG1oTml0THZZeVZISHduR3FFQnZGWGhkYWl4NkFzMlF2VThkTzI5c0E%5FZT12cjVybFQ&cid=7300D15B8EDEF77F&id=7300D15B8EDEF77F%21sf251bfe3f717465f93e5575ef9861047&parId=7300D15B8EDEF77F%21s1947b9e136a14b2bbd8c951c7c271aa1&o=OneUp" target="_blank" class="button is-primary">시연 영상 보기</a>
                    <hr>

                    <h2>큐레이팅</h2>
                    <ul>
                        <li><strong>설명:</strong> Unity를 활용한 반도체 공정 소개 영상</li>
                    </ul>
                    <a href="https://onedrive.live.com/?redeem=aHR0cHM6Ly8xZHJ2Lm1zL2YvYy83MzAwZDE1YjhlZGVmNzdmL0V1RzVSeG1oTml0THZZeVZISHduR3FFQnZGWGhkYWl4NkFzMlF2VThkTzI5c0E%5FZT12cjVybFQ&cid=7300D15B8EDEF77F&id=7300D15B8EDEF77F%21s06b810edaa054475bfe52f12e29e11f6&parId=7300D15B8EDEF77F%21s1947b9e136a14b2bbd8c951c7c271aa1&o=OneUp" target="_blank" class="button is-primary">시연 영상 보기</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
